body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

.dark-mode {
  background-color: #1f1f1f;
  color: #ffffff;
}

.header-content {
  text-align: center;
  padding: 20px;
  background-color: #3498db;
  color: white;
}

.header-content h1 {
  margin: 0;
  font-size: 36px;
}

.header-content p {
  margin: 0;
  font-size: 18px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline;
  margin-left: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.section {
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.section-content h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.section-content p {
  font-size: 16px;
  line-height: 1.6;
}

.skills ul {
  list-style: none;
  padding: 0;
}

.skills li {
  margin-bottom: 5px;
}

.skills li::before {
  content: '• ';
  color: #3498db;
}

.credentials {
  margin-top: 20px;
}

.credentials img {
  height: 10px; /* Adjust the height as needed */
  vertical-align: middle;
  margin-right: 10px;
}

.credentials p {
  margin: 5px 0;
}

.footer {
  text-align: center;
  color: #666;
}
