body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}

.dark-theme body {
  background-color: #222;
  color: #fff;
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  transition: background-color 0.3s, color 0.3s;
}

.profile {
  width: 40%;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s;
}

.dark-theme .profile {
  background-color: #333;
  color: #fff;
}

.projects.dark-theme {
  color: #ffffff; /* Adjust the text color for dark mode */
}

.dark-theme .profile h1 {
  color: #ddd;
}

.profile .contact-info a {
  color: #3498db;
  text-decoration: none;
}

.dark-theme .profile .contact-info a {
  color: #4CAF50;
}

.profile .contact-info a:hover {
  text-decoration: underline;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #3498db;
}

.dark-theme .profile-picture {
  border: 3px solid #4CAF50;
}

.profile-info {
  margin-top: 20px;
}

.skills {
  margin-top: 10px;
}

.contact-info {
  margin-top: 10px;
}

.projects {
  width: 55%;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: background-color 0.3s, color 0.3s;
}

.dark-theme .projects {
  background-color: #333;
  color: #fff;
}

.project-card {
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.dark-theme .project-card {
  background-color: #444;
  color: #fff;
}

.dark-theme .project-card h3 {
  color: #ddd;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-link {
  color: #3498db;
  text-decoration: none;
}

.project-card .project-details {
  display: none;
  margin-top: 10px;
}

.project-card.expanded .project-details {
  display: block;
}

.dark-theme .project-link {
  color: #4CAF50;
}

.project-link:hover {
  text-decoration: underline;
}

h1, h2, h3 {
  color: #333;
}

.languages {
  margin-bottom: 10px;
}

.languages .bubble {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 20px;
  background-color: #3498db;
  color: #fff;
}

.project-card img {
  max-width: 100%;
  height: auto;
}

.theme-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.theme-toggle:hover {
  background-color: #444;
}