body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f0f0f0; /* Set default background color */
  color: #333; /* Set default text color */
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%; /* Make it a circle */
  margin-bottom: 20px;
  object-fit: cover; /* Ensure the image covers the entire circle */
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: #333; /* Change navbar background color */
  padding: 10px 0;
}

.navbar a {
  text-decoration: none;
  color: #f0f0f0; /* Change navbar link color */
  padding: 5px 10px;
}

.navbar a:hover {
  background-color: #555; /* Change navbar link hover color */
}

.content {
  width: 100%;
  max-width: 800px;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

#typing-text {
  overflow: hidden;
  border-right: .15em solid orange; /* Adjust typing cursor color */
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
  animation-delay: 0.5s; /* Delay the typing animation for half a second */
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.card {
  display: block;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 10px;
  text-decoration: none;
  color: #333;
  background-color: #fff; /* Set card background color */
  transition: background-color 0.3s;
}

.card:hover {
  background-color: #f9f9f9;
}

/* Dark mode styles */
body.dark-mode {
  background-color: #121212; /* Dark mode background color */
  color: #f0f0f0; /* Dark mode text color */
}

.navbar.dark-mode {
  background-color: #555;
}

.card.dark-mode {
  background-color: #212121;
  border: 1px solid #444;
  color: #f0f0f0;
}

.card.dark-mode:hover {
  background-color: #333;
}
